# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
client/.next/
client/out/

# Firebase
.firebase/
server/lib/

# Environment
.env
.env.local
.env.*.local
!.env.example

# Build
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
